<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.FocusInfoMapper">

    <!-- 分页查询关注人信息 -->
    <select id="focusInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        fi.id,
        fi.user_id AS userId,
        fi.collect_user_id AS collectUserId,
        fi.create_date AS createDate,
        tu1.USERNAME AS username,
        tu1.AVATAR AS avatar,
        tu2.USERNAME AS collectUsername,
        tu2.AVATAR AS collectAvatar
        FROM
        focus_info fi
        LEFT JOIN t_user tu1 ON ( tu1.USER_ID = fi.user_id )
        LEFT JOIN t_user tu2 ON ( tu2.USER_ID = fi.collect_user_id )
        WHERE
        fi.delete_flag = 0
        <if test="focusInfo.username != null and focusInfo.username != ''">
            AND tu1.USERNAME LIKE CONCAT('%',#{focusInfo.username},'%')
        </if>
        <if test="focusInfo.collectUsername != null and focusInfo.collectUsername != ''">
            AND tu2.USERNAME LIKE CONCAT('%',#{focusInfo.collectUsername},'%')
        </if>
        <if test="focusInfo.userId != null">
            AND fi.user_id = #{focusInfo.userId}
        </if>
        ORDER BY fi.create_date DESC
    </select>

    <!-- 查询关注人信息 -->
    <select id="focusInfoByUser" resultType="java.util.LinkedHashMap">
        SELECT
        fi.id,
        fi.user_id AS userId,
        fi.collect_user_id AS collectUserId,
        fi.create_date AS createDate,
        tu1.USERNAME AS username,
        tu1.AVATAR AS avatar,
        tu2.USERNAME AS collectUsername,
        tu2.AVATAR AS collectAvatar
        FROM
        focus_info fi
        LEFT JOIN t_user tu1 ON ( tu1.USER_ID = fi.user_id )
        LEFT JOIN t_user tu2 ON ( tu2.USER_ID = fi.collect_user_id )
        WHERE
        fi.delete_flag = 0
        AND fi.user_id = #{userId}
    </select>
</mapper>
