<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.MessageInfoMapper">

    <!-- 分页查询消息信息 -->
    <select id="messageInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        mi.id,
        mi.send_user AS sendUser,
        mi.content,
        mi.create_date AS createDate,
        mi.read_status AS readStatus,
        tu.USERNAME AS username,
        tu.AVATAR AS avatar
        FROM
        message_info mi
        LEFT JOIN t_user tu ON ( tu.USER_ID = mi.send_user )
        WHERE
        1 = 1
        <if test="messageInfo.username != null and messageInfo.username != ''">
            AND tu.USERNAME LIKE CONCAT('%',#{messageInfo.username},'%')
        </if>
        <if test="messageInfo.readStatus != null">
            AND mi.read_status = #{messageInfo.readStatus}
        </if>
        <if test="messageInfo.sendUser != null">
            AND mi.send_user = #{messageInfo.sendUser}
        </if>
        ORDER BY mi.create_date DESC
    </select>
</mapper>
