<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.TagInfoMapper">

    <!-- 分页获取tag数据 -->
    <select id="tagInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        id,
        name,
        create_date AS createDate,
        delete_flag AS deleteFlag
        FROM
        tag_info
        WHERE
        1 = 1
        <if test="tagInfo.name != null and tagInfo.name != ''">
            AND name LIKE CONCAT('%',#{tagInfo.name},'%')
        </if>
        <if test="tagInfo.deleteFlag != null">
            AND delete_flag = #{tagInfo.deleteFlag}
        </if>
    </select>
</mapper>
